.main-container{
  margin-top: var(--section-margin);
  height: calc(100vh - 60px);
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}
button[type="submit"] {
  background-color: var(--primary-color);
  border: var(--primary-color);
}