footer {
  background-color: hsla(47, 53%, 90%, 0.822);
  padding: 40px 0;

}

.wrapper-footer {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: space-between;
}

.btn-subscripe{
    background-color: var(--primary-color) !important;
}
.btn-subscripe:hover {
  background-color: var(--secondary-color) !important;
}


