footer {
  background-color: hsla(47, 53%, 90%, 0.822);
  padding: 40px 0;
  font-family: 'Segoe UI', sans-serif;
  /* border-top: 4px solid #d9b457; */
}

.wrapper-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.footer a {
  display: block;
  color: #1d1b1b;
  margin-bottom: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer a:hover {
  color: #d9b457;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 10px;
}
.btn-subscripe{
    background-color: var(--primary-color) !important;
   
}
.btn-subscripe:hover {
  background-color: var(--secondary-color) !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .wrapper-footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer a {
    margin-bottom: 12px;
  }

  .footer form {
    width: 100%;
    padding: 0 20px;
  }

  .footer form input,
  .footer form button {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 30px 10px;
  }

  .wrapper-footer > div {
    margin-bottom: 30px;
  }

  .footer-heading {
    font-size: 1.1rem;
  }
}
