footer{
    background-color: #F2F2F2;
    padding-block-start: var(--sections-padding);
    padding-block-end: var(--sections-padding);
}
.wrapper-footer{
    display: flex;
    justify-content: sp;
}