footer{
    background-color: hsla(47, 53%, 90%, 0.822);
    padding-block-start: var(--sections-padding);
    padding-block-end: var(--sections-padding);
}
.wrapper-footer{
    display: flex;
    justify-content: space-between;

}
.wrapper-footer .info{
  width: 30%;
}
.links>p:first-child{
font-weight: 700;

}
@media (max-width: 767px) {
    .wrapper-footer{
       flex-direction: column;
    }
    .wrapper-footer .info{
        width: 100%;
      }

}