footer{
    background-color: hsl(46, 52%, 90%);
    padding-block-start: var(--sections-padding);
    padding-block-end: var(--sections-padding);
}
.wrapper-footer{
    display: flex;
    justify-content: space-between;

}
.wrapper-footer .info{
  width: 30%;
}