.update-content h1{
    color: var(--primary-color);
    /* margin-top: var(--section-margin);
    min-height: 100vh;
    height: auto;
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding); */
}

.update-content button{
    
}