
.whyChooseUS{
    padding-block-start: var(--sections-padding);
    scroll-padding-block-end: var(--sections-padding);
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.box{
    background-color: #f1fbde;
    padding: 2rem;
    text-align: center;
}
.box >p:nth-child(1){
    font-weight: 600;
    font
}