
.whyChooseUS{
    padding-block-start: var(--sections-padding);
    padding-block-end: var(--sections-padding);
    background-color: #eee;
}
.whyChooseUS-header {
  flex-basis: 100%; 
  text-align: center;
  margin-bottom: 40px;
    padding-bottom: 10px;
}

.whyChooseUS-header h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: 2px;
  margin: 0;
  position: relative;
}
.whyChooseUS-header h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%; 
  width: 150px; 
  border-bottom: 2px solid var(--primary-color);
  transform: translateX(-50%);
}

.whyChooseUS .card{
   background-color: #e5edce ;
    border-radius: 1rem;
    padding:  1rem;
      transition: all 0.3s ease;

}

.whyChooseUS .card >p:first-child
{
    font-weight: 900;
    font-size: 2rem;
    color: var(--primary-color);
}
.whyChooseUS .card >p:nth-child(2){
    font-weight: 700;
    font-size: 1.4rem;
}
.whyChooseUS .card:hover{
    transform: scale(1.05);;
}

    
@media (max-width: 780px) {
  
  .card >p:first-child{
    font-size: 1rem;
  }
}

