
.about{
    padding-block-start: var(--sections-padding);
    background-size: url("../../../public/images/about-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-block-end: var(--sections-padding);
}