
.about{
    padding-block-start:8rem;
    background-image: url("../../../public/images/about-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-block-end: 8rem;
}
.about section{
    display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items:  flex-end;
   padding-block-start: 4rem;
}