.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-color: rgba(254, 250, 225, 0.3);
     */
     background-color: hsla(32, 86%, 54%, 0.15);
}

.navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
    color: var(--text-color);
}


/* * --> all children */
.navbar .nav-link {
    padding: 0 1.5rem !important;
    text-align: center;
}

@media (max-width: 767px) {
    .navbar .nav-link {
        padding: 0.5rem 0 !important;
    }

    .icons>svg {
        padding-top: 0.5rem;
        margin: auto;
        font-size: 1.25rem;
    }
}

.icons {
    display: flex;
    gap: 1.5rem;
}

.icons svg {
    font-size: 1.5rem;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

@media (max-width: 767px) {

    /* .navbar .dropdown-menu {
                position: absolute !important;
                top: 80% !important;
                left: 35% !important;
                background-color: var(--light-color);
                right: 0;
                width: 100%;
                z-index: 1050;
            } */
    .navbar-nav {
        .dropdown-menu {
            width: 50%;
            margin: auto;
            text-align: center;
        }

        /* .dropdown-menu[data-bs-popper] {
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        } */

        /* .nav-item,
        .nav-link {
            text-align: center;
        } */
    }
}

@media (max-width: 441px) {
    .navbar-nav {
        .dropdown-menu {
            width: 35%;
        }
    }
}