.section{
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/images/landingBg.png");
    background-position: center;
    background-size: cover;
}

.section h1 span{
    color: var(--primary-color);
}