.main{
    width: 100%;
    min-height: calc(100vh - 66px);
    background-image: url("../../../public/images/landingBg.png");
    background-position: center;
    background-size: cover;
}

.section{
   
   display: flex;
   flex-direction: column;
   padding-top: 8.75rem;
}

.section h1{
    width: 60%;
    font-size: 4.25rem;
}
.section h1 span{
    color: var(--primary-color);
}
.section p{
    width: 47%;
    /* font-size: 20px; */
}