.main{
    width: 100%;
    min-height: calc(100vh - 66px);
    background-image: url("../../../public/images/mainPage.png");
    background-position: center;
    background-size: cover;
}

.section{
   
   display: flex;
   flex-direction: column;
   padding-top: 8.75rem;
   gap: 1rem;
}

.section h1{
    width: 60%;
    font-size: 4.25rem;
    font-weight: bolder;
}
.section h1 span{
    color: var(--primary-color);
}
.section p{
    width: 47%;
    font-weight: 500;
}
.buttons{
    display: flex;
    gap: 1rem;
}
.custom-btn{
    background-color: var(--secondary-color) !important;
    --bs-btn-border-color: var(--secondary-color) !important ;
    --bs-btn-hover-border-color:var(--secondary-color) !important;
     --bs-btn-hover-bg: var(--secondary-color) !important ; 
     font-weight: 700 !important;
}