.section{
    width: 100%;
    min-height: calc(100vh - 66px);
    background-image: url("../../../public/images/landingBg.png");
    background-position: center;
    background-size: cover;
}

.section h1 span{
    color: var(--primary-color);
}