.main {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/images/mainPage.png");
    background-position: center;
    background-size: cover;
}
.cont{
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
}
.main .inner-cont {
    height: 100%;
    display: flex;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
}

.section h1 {
    width: 60%;
    font-size: 4.25rem;
    font-weight: bolder;
}

.section h1 span {
    font-size: 5.5rem;
    display: block;
    color: var(--primary-color);
}

.section p {
    width: 47%;
    font-weight: 500;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.custom-btn {
    background-color: var(--primary-color) !important;
    --bs-btn-border-color: var(--primary-color) !important;
    --bs-btn-hover-border-color: var(--primary-color) !important;
    --bs-btn-hover-bg: var(--primary-color) !important;
    font-weight: 600 !important;
}

/* Responsive Styles */
@media (max-width: 991px) {
    .cont{
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
}
    .section h1 {
        width: 75%;
        font-size: 3rem;
    }
    .section span{
        font-size: 4.5rem !important;
    }
}

@media (max-width: 767px) {
    .section {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 2.5rem;
    }

    .section h1 {
        width: 100%;
        font-size: 2rem !important;
    }

        .section span {
            font-size: 2.5rem;
        }

    .section p {
        width: 100%;
        font-size: 0.875rem;
    }

    .buttons {
        justify-content: center;
        margin-top: 1rem;
        flex-wrap: wrap;
    }
}

@media (max-width: 540px) {

    .section {
        margin: 0;
    }
         .section h1 {
             font-size: 1.75rem !important;
         }

         .section span {
             font-size: 2.25rem !important;
         }
}