.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-color: rgba(254, 250, 225, 0.6); */
    padding: 0;
    background-color: var(--secondary-light-color);
    padding: 0 !important;
}

.navbar img {
    width: 60px;
    height: 60px;
}

.navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
    color: var(--text-color);
}

.dropdown-link {
    text-decoration: none;
    color: inherit;
}

.nav-link.active,
.dropdown-link.active,
.dropdown-item.active {
    font-weight: bold;
}

/* * --> all children */
.navbar .nav-link {
    padding: 0 1.5rem !important;
    text-align: center;
}

@media (max-width: 767px) {
    .navbar .nav-link {
        padding: 0.5rem 0 !important;
    }

    .icons>svg {
        padding-top: 0.5rem;
        margin: auto;
        font-size: 1.25rem;
    }
}

.icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.icons svg {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.icons .btn,
.icons .btn:hover {
    margin-bottom: 0.5rem;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

@media (max-width: 767px) {

    .icons {
        flex-direction: column;
        gap: 0.5rem !important;
    }

    .icons .btn{
        width: 100%;
    }


    .navbar-nav {
        .dropdown-menu {
            width: 50%;
            margin: auto;
            text-align: center;
        }
    }
}

@media (max-width: 441px) {
    .navbar-nav {
        .dropdown-menu {
            width: 35%;
        }
    }
}