footer{
    background-color: hsla(47, 53%, 90%, 0.822);
    padding-block-start: var(--sections-padding);
    padding-block-end: var(--sections-padding);
}
.wrapper-footer{
    display: flex;
    justify-content: space-between;

}
.wrapper-footer .info{
  width: 30%;

}
.wrapper-footer .info h5{
    color: var(--primary-color);
    font-weight: 700;
}
.links>p:first-child{
font-weight: 700;
color: var(--primary-color);

}
.links{
    display: flex;
    flex-direction: column;
}
.links a{
    text-decoration: none;
    color: var(--text-color);
}
.links a:hover{
    
    color: var(--primary-color);
}
@media (max-width: 767px) {
    footer {
            text-align: center;
    }
    .wrapper-footer{
       flex-direction: column;
    }
    .wrapper-footer .info{
        width: 100%;
      }

}