@font-face {
  font-family: "Lato";
  src: url("../public/Fonts/Lato/Lato-Black.ttf") format("truetype");
}

:root {
  --primary-color: #6b9f00;
  --secondary-color: #ef9025;
  --light-color: #efe2b3;
  --secondary-light-color: #FDFAE0;
  --text-color: #000000;
  --font-family: "Lato", sans-serif;
  --sections-padding: 5rem;
}

body {
  margin: 0;
  padding: 0;
  border: none !important;
  outline: none !important;
  font-family: var(--font-family);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;

}
a{
  text-decoration: none;
}
