.container{
    position: relative;
    padding-block-start: var(--sections-padding);
    background-color: #eee;
}

.container .content{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #777;
    transform: translate(-50%, -50%);
    text-align: center;
    /* width: 70% !important; */
}